div
{
    color: red;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border: 10px groove black;
    height: 100px;
    box-sizing: border-box;
}

span
{
    color: blueviolet;
    background-color: brown;
}

.xyz{
    text-align: center;
    background-color: pink;
}
.xyz:hover
{
    font-size: 18px;
    color: red;
    letter-spacing: 5px;
    text-decoration: underline;
}

a:active
{
    background-color: aqua;
}

a:hover
{
    background-color: brown;
}

a:visited
{
    background-color: yellow;
}

a{
    background-color: blueviolet;
    color: rgb(233, 213, 213);
}

